  body {
    font-family: 'Public Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: auto;
  }
  
  .header__container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: auto;
  }

  .description__container {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .tariff__container {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .footer__container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header {
    padding: 20px 0;
    background-color: #25293C;
  }
  
  .logo-a {
    max-width: 200px;
    display: block;
    margin: 0;
    color: #FF9F43;
    font-size: 30px;
    font-weight: 700;
  }

  .logo-b {
    max-width: 200px;
    display: block;
    margin: 0;
    color: #C24624;
    font-size: 30px;
    font-weight: 700;
  }
  
  .description {
    padding: 60px 0;
    background-color: #e9e7ef;
    text-align: center;
  }
  
  .description__title {
    font-size: 30px;
    font-weight: 700;
  }
  
  .description__text {
    font-size: 20px;
    max-width: 700px;
    margin: 0;
    font-weight: 400;
  }
  
  .tariff {
    padding: 60px 0;
    text-align: center;
    background-color: #dbdade;
  }
  
  .tariff__title {
    font-size: 28px;
    margin: 0;
    width: 400px;
    align-self: center;
    margin-bottom: 10px;
  }
  
  .tariff__details {
    background-color: #e9e7ef;
    border-radius: 10px;
    width: 500px;
    align-self: center;
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
  }
  
  .tariff__name {
    font-size: 26px;
    margin-bottom: 10px;
    color: #000000;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .tariff__price {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .tariff__price span {
    color: #FF9F43;
  }
  
  .tariff__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tariff__item {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .footer {
    padding: 20px 0;
    background-color: #25293C;
    display: flex;
    justify-content: center;
  }
  
  .company-details,
  .public-offer {
    color: #fff;
    min-width: 300px;
    box-sizing: border-box;
  }
  
  .company-details__inn,
  .company-details__ogrn,
  .company-details__name {
    text-align: left;
    margin: 0;
  }
  
  .public-offer {
    text-align: right;
  }
  
  .public-offer__link {
    color: #FF9F43;
    text-decoration: none;
  }
  
  .public-offer__link:hover {
    text-decoration: underline;
  }
  